.AlbumAndImageListLayout {
  &Root {
    @apply w-screen h-screen relative;
    @apply flex flex-col;
  }

  &Main {
    @apply h-1 w-full grow;
    @apply flex flex-row;
  }

  &Category {
    @apply h-full w-64 overflow-auto;
    @apply shrink-0;
    .items {
      @apply relative w-full py-1;
      @apply text-white px-2 relative;
      @apply hover:text-cyan-200;
      &:after {
        content: "";
        @apply border-b border-b-white;
        @apply absolute w-4/5;
        bottom: -1px;
        left: 10%;
      }

      &.active {
        @apply text-cyan-300;
      }

      .after {
        @apply block absolute right-5 top-1;
        @apply cursor-pointer inline-block;
        @apply w-4 text-center;
      }
    }
  }

  &Content {
    @apply w-1 h-full grow;
  }
}
