@reference "./global.css";
.home {
    @apply bg-black h-screen w-screen flex flex-col;
    @apply flex-nowrap content-center items-center justify-center;
}

.water {
    @apply absolute bottom-0 h-[47%] w-full bg-no-repeat;
    background: url('/img/background.jpg') no-repeat center bottom;
    @apply bg-cover;
}

.menu {
    @apply bg-clip-text text-6xl text-center  uppercase leading-relaxed z-50;
    @apply bg-linear-to-bl from-zinc-100 via-slate-500 to-zinc-500;
    @apply text-transparent;
    font-family: "Phage Rough";

    a {
        @apply block bg-clip-text static;
        &::after {
            content: '';
            @apply w-full left-0 bottom-0 block opacity-0 bg-sky-50;
            @apply h-0.5 transition-opacity;
        }
        &:hover::after{
            @apply opacity-100;
        }
    }
}
