---
import FooterStyle from "../styles/Footer.module.scss"
---
<div class={FooterStyle.footer}>
    <p>Supported and developed by&nbsp;
        <a href=https://github.com/misakamayako/" target="_blank" rel="noreferrer">misaka mayako</a>
    </p>
    <p>
        Tech with <a href=https://astro.build/" target="_blank" rel="noreferrer">astro</a>,&nbsp;
        <a href="https://tailwindcss.com/" target="_blank" rel="noreferrer">tailwindcss</a>,&nbsp;
        and <a href="https://pm2.keymetrics.io/" target="_blank" rel="noreferrer">pm2</a>,&nbsp;
    </p>
    <p> feed back via <a href="mailto:misakamayaco@qq.com" target="_blank" rel="noreferrer">ðŸ“«</a></p>
    <a
            rel="license noreferrer"
            href="https://creativecommons.org/licenses/by-sa/4.0/"
            target={"_blank"}
            class="absolute right-6 bottom-6"
    >
        <img alt="çŸ¥è¯†å…±äº«è®¸å¯åè®®" class="inlin-block border-0"
             src="/cc4.0.png"/>
    </a>
</div>