---
const {pageTitle} = Astro.props;
import "../styles/global.css";
const baseURL = import.meta.env.BASE_URL
---

<html lang="zh-hans" class="h-full w-full m-0">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/jepg" href={`${baseURL}favicon.jpg`}/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="google-site-verification" content="-RgOsAO7rMTpJ8vNk8-ILdAA8VmiTEUc9HiUVVTKeEs" />
    <meta name="generator" content={Astro.generator}/>
    <title>{pageTitle}</title>
</head>
<body class="w-full h-full flex flex-col">
<slot/>
</body>
</html>
