@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}
.nextui-backdrop--open{
    cursor: default;
}
img, svg, video, canvas, audio, iframe, embed, object{
    display: initial;
}
.remark-highlight{
    display: inline-block;
}
:root {
    color-scheme: dark;
}
article{
    max-width:unset!important;
}
