@tailwind base;
@tailwind components;
@tailwind utilities;
.nextui-backdrop--open{
    cursor: default;
}
img, svg, video, canvas, audio, iframe, embed, object{
    display: initial;
}
.remark-highlight{
    display: inline-block;
}
