.home {
  background :url("../public/img/background.jpg") no-repeat;
  @apply bg-cover;
  @apply h-screen;
  @apply w-screen;
  @apply flex;
  @apply flex-col;
  @apply flex-nowrap;
  @apply content-center;
  @apply items-center;
  @apply justify-center;
}

.menu {
  @apply bg-clip-text;
  @apply text-6xl;
  @apply text-center;
  @apply uppercase;
  @apply leading-relaxed;
  background-image: linear-gradient(225deg,#fff 35%,#4e6773);
  -webkit-text-fill-color: transparent;
  font-family: "Phage Rough";
  a{
    @apply block;
    &:hover::after{
      content: '';
      @apply block;
      @apply w-full;
      @apply left-0;
      @apply bottom-0;
      height: 2px;
      background-color: aliceblue;
    }
  }
}
